.map {
    height: 400px;
}

.fotodelacasa {
    display: flex;
    justify-content: center;
    height: 125pt;
    width: auto;
}

.fotoguardian {
    height: 64pt;
    align-items: center;
    border-radius: 7px;

}

.reseña1{
    width:40px;
    height:40px;
    border-radius:150px;
}

.botonreserva{
    margin-left: 60%;
    background: #F68F24;
    color: white;
    border-radius: 4px;
    border: 0px solid;
    box-shadow: 2px 2px 10px black;


}