  .pi {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    color: black;
  }

  .botonreserva{
    width: 142pt;
    height: 23pt;
    border-radius: 3pt;
    background: #f68f24;
    margin-left: 10%;


  }

