.navbar {
  position:inherit;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  background: #ffffff;
  color: black;
  border-top: 1px solid #E7E7E7;
  margin-left: -15px;
  margin-right: -15px;
}

.pi {
  &.navicons {
    font-size: 30px;
    color: black;
  }
}
