.navbar {
  position:inherit;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  background: #ffffff;
  color: black;
  margin-left: -30px;
  margin-right: -30px;
}

.pi {
  &.icons {
    font-size: 30px;
  }
}

.navicons {
  color: black;
  font-size: 30px;
}

.navicons:hover {
  color: none;
}

.orangeicon {
  color: rgb(246, 143, 36);
  font-size: 30px;
}

.separator {
  width: auto;
  height: 5px;
  margin-top: 20px;
  margin-left: -30px;
  margin-right: -30px;
  background: linear-gradient(to bottom, white, #E7E7E7);
}
