$color-primary: #ff8200;

.login {
  &__text {
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
  }
  &__text-active {
    text-decoration: underline $color-primary;
    background-color: $color-primary;
    position: relative;
  }
  &__container {
    text-align: center;
    margin-bottom: 20px;
  }
}
