.margintop {
  margin-top: 30px;
}

.endbtn  {
  margin-top: 250px;
}

.closebtn {
  background-color: transparent;
  border: none;
}

.orangeicons {
  font-size: 18px;
}

.bookingcontainer {
  margin-bottom: 10px;
  border: 2px solid #282c34;
  border-radius: 15px;
}

.bookingtext {
  margin: 0;
}

.roundimg {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgb(246, 143, 36);
}

.trashbtn {
  margin-top: 28px;
  margin-left: 20px;
}

.secondmodal {
  height: 150px;
  padding: 20px;
  text-align: center;
  background-color: #FEE5C5;
  margin: 70px;
  font-family: 'Catamaran', sans-serif;
}

.whitebtn {
  margin: 0px;
  background-color: white;
}
