.profile {
  &__orange-icon {
      font-size: 18px;
  }
}

.modal {
  &__close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__booking {
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
  }
  &__text {
    margin: 0;
  }
  &__img {
    height: 50px;
    width: 50px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ff8200;
  }
  &__delete-btn {
    margin-top: 28px;
    margin-left: 20px;
    cursor: pointer;
  }
}

.margintop {
  margin-top: 30px;
}

.endbtn  {
  margin-top: 250px;
  cursor: pointer;
  margin-bottom: 100px;
}

.modal-confirm {
  height: 150px;
  padding: 20px;
  text-align: center;
  background-color: #FEE5C5;
  margin: 70px;
  min-height: 150px;
  font-family: 'Catamaran', sans-serif;
}

.whitebtn {
  margin: 0px;
  background-color: white;
  &.confirm {
    max-width: 100px;
  }
}

@media screen and (min-width: 500px) {
  .modal {
    &__img {
      height: 10vw;
      width: 10vw;
      margin-bottom: 2vw;
    }
    &__title {
      margin-bottom: 2vw;
    }
    &__text {
      margin: 10px 0;
    }
  }

}
