.contenedorBienvenido{
    background-image: linear-gradient(to bottom, rgba(255, 206, 50,1) 0%, rgba(249, 165, 25,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fondoBlanco{
    background-color: white;
    margin: 2em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    padding: 1em;
    box-shadow:   0px 0px 5px 1px rgba(209, 209, 209, 0.5);
}
.contImagen{
    text-align: center;
    margin: 3em;
    margin-bottom: 3em;
}
.tituloBienvenido{
    font-size: 1.5em;
    text-align: left;
    font-weight: 500;
    margin-bottom: 2em;
}
.cadenaimagen{
    width: 8em;
    height: auto;
}
.textito{
    margin-top: 1em;
    margin-bottom: 2em;
}


  