.search-form {
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  &__location {
    background-color: transparent;
    padding-left: 40px;
    box-shadow: 0px 0px 1px 1px #E7E7E7;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-family: "Noto Sans", sans-serif;
    position: relative;
  }
  &__dates__container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 30px;
  }
  &__dates {
    background-color: transparent;
    box-shadow: 0px 0px 1px 1px #E7E7E7;
    width: 49%;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-family: "Noto Sans", sans-serif;
    position: relative;
    padding-left: 10px;
    &.entry {
      margin-right: 1%;
      &.luggage {
        padding-left: 40px;
      }
    }
    &.out {
      margin-left: 1%;
    }
  }
  &__icons {
    position: absolute;
    transform: translate(12.5px, 20px);
    color: orange;
    font-weight: bold;
  }
}

.centered {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
