.orangebtn {
  background-color: rgb(246, 143, 36);
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  padding: 7px;
  width: 270px;
  height: 50px;
  border-radius: 10px;
  margin-top: 50px;
  border: none;
  box-shadow: none;
  cursor: pointer;

  &.sm {
    width: 45%;
    height: 60px;
    margin-left: 3px;
    margin-top: 0px;
    border-radius: 10px;
  }
}

.orangebtn:hover {
  background-color: rgb(246, 110, 36);
  border-radius: 10px;
}

.whitebtn {
  color: rgb(246, 143, 36);
  background-color: transparent;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  padding: 7px;
  width: 270px;
  height: 50px;
  border-radius: 10px;
  margin-top: 50px;
  border: solid 2px;
  border-color: rgb(246, 143, 36);
  box-shadow: none;
  cursor: pointer;
}

.whitebtn:hover {
  background-color: #FCE3C6;
  border-radius: 10px;
}

.margin {
  margin: 30px;
}

.gobackbtn {
  background-color: transparent;
  font-size: 1.5em;
  color: black;
  border-radius: 50%;
  padding: 10px 10px 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

// <-------------SOCIAL MEDIA------------->

.fbbtn {
  background-color: rgb(56, 89, 156);
  color: white;
  font-family: "Noto Sans", sans-serif;
  padding: 7px;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.googlebtn {
  background-color: transparent;
  color: black;
  font-family: "Noto Sans", sans-serif;
  padding: 7px;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 2px;
  border-color: rgb(109, 109, 109);
  box-shadow: none;
  cursor: pointer;
}

input[type=submit] {
  border-radius: 10px;
}
