@import 'src/index.scss';

.orangebtn {
  background-color: $color-primary;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  padding: 7px;
  width: 270px;
  height: 50px;
  border-radius: 10px;
  margin-top: 50px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  &.small {
    width: 49%;
    height: 60px;
    margin-left: 1%;
    margin-right: 0;
    margin-top: 0;
    font-size: 16px;
  }
}

.orangebtn:hover {
  background-color: $color-secondary;
  border-radius: 10px;
}

.whitebtn {
  color: $color-primary;
  background-color: transparent;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  padding: 7px;
  width: 270px;
  height: 50px;
  border-radius: 10px;
  margin-top: 50px;
  border: solid 2px $color-secondary;
  box-shadow: none;
  cursor: pointer;
  &.sm {
    width: auto;
    height: 0px;
    margin-left: 3px;
    margin-top: 20px;
    padding: 0px;
    border-radius: 10px;
    border: none;
  }
}

.back-btn {
  background-color: transparent;
  font-size: 1.2em;
  color: black;
  border-radius: 50%;
  padding: 10px 10px 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

.closewindow {
    display: flex;
    flex-direction: row-reverse;
}

input[type=submit] {
  border-radius: 10px;
}
