.carouselcontainer {
  height: 300px;
  width: 100%;
  display: inline;
}

.textinfo {
  display: inline;
}

.homeimg {
  height: 150px;
  width: 60%;
  display: inline;
}

.personalimg {
  height: 100px;
  width: 80px;
  display: flex;
}

.p-carousel-content {
  background-color: blue;
}

