.result {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  &__info {
    display: inline;
    font-size: 16px;
    color: black;
    margin-top: 0;
    pading-top: 0;
    font-family: 'Catamaran', sans-serif;
    &.location-text {
      font-family: "Noto Sans";
      font-size: 12px;
    }
  }
  &__home-img {
    width: 100%;
    object-fit: cover;
    height: 35vh;
  }
  &__guardian-img {
    height: 20vw;
    width: 20vw;
    display: flex;
    border-radius: 15px;
    object-fit: cover;
    margin: 0;
  }
}

.p-carousel {
  margin-top: 20px;
  margin-right: -25px;
  margin-left: -25px;
}

.p-carousel-content {
  &.guardian-list {
    padding-top: 5px;
    overflow-x: hidden;
  }
}

.inlinediv {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.guardian-slide {
  box-shadow: 1px 1px 1px 1px #E7E7E7;
  border-top: 3px solid #ff8200;
}

.pi-map-marker {
  margin-right: 2px;
  color: orange;
  font-size: 15px;
}

@media screen and (min-width: 900px){
  .result__guardian-img {
    height: 15vw;
    width: 15vw;
  }
}

