@import "~bootstrap/scss/bootstrap";
@import '~primeicons/primeicons.css';
@import "~primereact/resources/primereact.min.css";


body {
  margin: 30px;
  margin-top: 0px;
  margin-bottom: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'Catamaran', sans-serif;
  font-size: 28px;
}

label input p h3 {
  font-family: 'Noto Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
